<div class="home__container">
	<app-card
	gomeCover="assets/bt-1.jpg"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 192,99"
	>
	</app-card>
	<app-card
	gomeCover="assets/bt-4.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 99,99"
	>
	</app-card>
	<app-card
	gomeCover="assets/bt-5.jpg"
	gameType="DIGITAL | PS4 | XPTO"
	gamePrice="R$ 249,99"
	>
	</app-card>
	<app-card
	gomeCover="assets/ac-cover.jpg"
	gameType="DIGITAL | XPTO | PS3 | PS5"
	gamePrice="R$ 369,99"
	>
	</app-card>
	<app-card
	gomeCover="assets/bt-bad-company-2.jpg"
	gameType="DIGITAL | PS4 | PS3"
	gamePrice="R$ 99,99"
	>
	</app-card>
	<app-card
	gomeCover="assets/bt-hardline.jpg"
	gameType="DIGITAL | PS4 "
	gamePrice="R$ 99,99"
	>
	</app-card>
</div>
