<div class="menu-bar__container">
		<div class="menu-bar__logo">
			<img src="assets/ps-logo.png"
			 alt=""
			 srcset=""
			 width="140px"
			 height="32px"
			 >
		</div>

		<div class="menu-bar__item">
			<ul>
				<li><a href="https://www.youtube.com/@Danrleinascimento">Novidades</a>
				</li>
				<li><a href="https://www.youtube.com/@Danrleinascimento">Youtube</a>
				</li>
				<li><a href="https://www.linkedin.com/in/danrlei-souza-4b9b10196/">LinkedIn</a>
				</li>
				<li><a href="https://github.com/danrleisnob">Githubs</a>
				</li>
			</ul>
		</div>
</div>
